<article>
  <header>
    <h2>Dresscode</h2>
    <h3>vad klär du dig i</h3>
  </header>
  <p>
    <span class="title">Kroppsfabriken</span> är en fetisch klubb och har en strikt klädkod på våra fester vilken tillämpas för alla gäster, om du inte gillar att klä upp dig så är inte vi rätt fest för dig. Ingen återbetalning för biljett om du nekas tillträde på grund av klädsel.
  </p>
  <h3>Latex</h3>
  <p>Både <span class="title">latex</span> och <span class="title">datex</span> är material som uppskattas på festen. </p>
  <h3>Pvc</h3>
  <p><span class="title">PVC</span> är inte bara ett material som passar dig som har latex allergier utan det kanske är så att du föredrar det, oavsett så är <span class="title">PVC</span> ett riktigt bra material att klä sig i.   </p>
  <h3>Läder</h3>
  <p>Givetvis välkomnar vi <span class="title">läder</span>, ovasett om det är en komplett outfit eller för att accessoria din <span class="title">latex</span> eller <span class="title">PVC</span>.</p>
  <h3>Wetlook</h3>
  <p>
    Utöver ovan nämnda material kan <span class="title">WETLOOK</span> från kvalitetsmedvetna tillverkare som exempelvis Noir Handmade passa bra, medan "vanlig" wetlook från klädaffären på stan nog inte kommer att ge dig tillträde. </p>
  <h3>Ansträng dig och visa hur unik du är</h3>
  <p>Vi vill inte ha en maskerad men hellre lite over the top än för tråkigt. Att gästerna sätter en unik prägling på sin outfit gör festen ännu bättre! </p>
</article>
