<article>
  <header>
    <h2>Fester</h2>
    <h3>Alla Våra fester</h3>
  </header>
  <p>
    <img class="center" src="assets/1_flyer.png">
    <center>
      DATUM: 13/7 <br/>
      TID: 20:00-02:00 <br/>
      INSLÄPP: 20:00-21:00<br/>
      PLATS: Norrköping <br/>
      BILJETTPRIS: 100 SEK, 150 SEK, 200 SEK <br/>
      BESÖKARE: Max 45
    </center>
  </p>
</article>
