<article>
  <header>
    <h2>Information</h2>
    <h3>om oss och våra fester</h3>
  </header>
  <p>
    <span class="title">Kroppsfabriken</span> kommer att bli en upplevelse där tung dansmusik blandas med ljudet från vinande piskor och djupa stön. Utlevnad och dans i en vacker symbios. I <span class="title">CLUB ABZINTS</span> nyrenoverade lokaler ställer vi till med en dekadent och hård fest där antalet platser är starkt begränsat.</p>
  <h3>Musiken på våra fester</h3>
  <p>Vi spelar <span class="title">EBM/AGRROTECH/INDUSTRIAL</span> i en skön mix </p>
  <h3>Biljetter</h3>
  <p>dssd</p>
  <p>
  <h3>Regler</h3>
  <p>
    <a href="https://clubabzint.se/om/">Code of Conduct</a> gäller på vår tillställning, läs den innan du köper biljett.
    <ol>
      <li>Fråga alltid först!</li>
      <li>Nej betyder nej!</li>
      <li>Inga krav, inget tjat - inga undantag!</li>
      <li>Om du inte är vänlig och artig mot alla åker du ut!</li>
      <li>Absolut inga kamerer eller mobiltelefoner!</li>
    </ol>
  </p>
</article>
